<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="silverModules" type="Cosys.SilverLib.Shell.Configuration.SilverModulesSectionHandler, Cosys.SilverLib.Shell, PublicKeyToken=02b728190720ca8f"/>
		<section name="secureConnections" type="Cosys.SilverLib.Shell.Configuration.SecureConnectionsSectionHandler, Cosys.SilverLib.Shell, PublicKeyToken=02b728190720ca8f"/>
	</configSections>
	<appSettings>
		<add key="DefaultCulture" value="en-US"/>
		<add key="DefaultUICulture" value="en-US"/>
		<add key="AllowHardwareRendering" value="false"/>
	</appSettings>
	<silverModules>
		<module name="Agent" type="Agent.AgentModule, Agent, PublicKeyToken=5d2be421dac4144e"/>
	</silverModules>
	<secureConnections>
		<connectionGroup name="Cosyshost" description="Server Watch Database Cosys" fingerprint="0ec9760c5f0fa9fd">
			<add name="Main" connectionString="aOWsJY3/nIQ0PLSGJEWnsvXVfCM15FuNpCFjNScze3Kd/TKVmyixg8N7JsZ9rCHu1ikMWsxFIBYSePF+ICmAPrZ0PwGXlXx7Uv3RygAkYHpc/hLGmo8qBsUHUBk22wCavnERDY24susNZXFP1RpelXNzBv7Uxl4yQWLv/WtwDcxVIq/3EwfdkpF0VuT2+aVF"/>
		</connectionGroup>
	</secureConnections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>