<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="silverModules" type="Cosys.SilverLib.Shell.Configuration.SilverModulesSectionHandler, Cosys.SilverLib.Shell, PublicKeyToken=02b728190720ca8f"/>
		<section name="secureConnections" type="Cosys.SilverLib.Shell.Configuration.SecureConnectionsSectionHandler, Cosys.SilverLib.Shell, PublicKeyToken=02b728190720ca8f"/>
	</configSections>
	<appSettings>
		<add key="DefaultCulture" value="en-US"/>
		<add key="DefaultUICulture" value="en-US"/>
		<add key="AllowHardwareRendering" value="false"/>
	</appSettings>
	<silverModules>
		<module name="Agent" type="Agent.AgentModule, Agent, PublicKeyToken=5d2be421dac4144e"/>
	</silverModules>
	<connectionStrings>
		<add name="Main" connectionString="Data Source=.\Dynamo;Initial Catalog=CosysGest;User Id=swtower;Password=swtpsw;Application Name=SWTower;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>

