<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ComponentModel.Composition" version="9.0.4" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Docking.Xaml" version="2012.3.1404" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.GridView.Xaml" version="2012.3.1404" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Input.Xaml" version="2012.3.1404" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Navigation.Xaml" version="2012.3.1404" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.RibbonView.Xaml" version="2012.3.1404" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Xaml" version="2012.3.1404" targetFramework="net472" />
  <package id="Telerik.Windows.Data.Xaml" version="2012.3.1404" targetFramework="net472" />
</packages>