<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="CosysLib.ExceptionManagement.ExceptionManagerSectionHandler,CosysLib.ExceptionManagement"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>
		<add name="default" connectionString="Data Source=192.168.1.132,1433;Integrated Security=SSPI;Initial Catalog=msdb;Application Name=ServerWatch" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="BaseApiUrl" value="https://workshop.cosys.ro"/>
	</appSettings>
	<exceptionManagement>
		<publisher assembly="CosysLib.ExceptionManagement" type="CosysLib.ExceptionManagement.DefaultPublisher" logName="Application" applicationName="ServerWatchAgent"/>
	</exceptionManagement>
</configuration>
