<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".generated.cs" #>
<#@ include file="$(SolutionDir)Templates\EditableDataClass.tt" #>
<#+

string ModuleName = "Agent";

string ClassName = "ServerE";

string ClassComment = @"An editable <see cref=""Server""/> instance with all the defined properties.";

List<FieldInfo> Fields = new List<FieldInfo>()
{	
	new FieldInfo("string", "gUID", @"The corresponding GUID of the server."),
	new FieldInfo("string", "publicKey", @"The corresponding publicKey for the server used for authentication."),
	new FieldInfo("string", "partner", @"The corresponding partner for the server."),
	new FieldInfo("string", "serverName", @"The corresponding server name of the server."),
	new FieldInfo("string", "windows", @"The corresponding windows version of the server."),
	new FieldInfo("string", "backupRoot", @"The backup root on the server for the daily and weekly backups."),
	new FieldInfo("int", "flag", @"The flags of the server."),
};

List<FlagInfo> Flags = new List<FlagInfo>()
{
	new FlagInfo("flag", "IsApproved", @"if the server was approved for telemetric data gathering by an administrator", 1),
	new FlagInfo("flag", "IsDeleted", @"if the server was removed from data gathering or is out of service", 2),
	new FlagInfo("flag", "HasMirroringDataGather", @"if the server has enabled mirroring data gathering", 4),
	new FlagInfo("flag", "HasDriveDataGather", @"if the server has enabled drive data gathering", 8),
	new FlagInfo("flag", "HasBackupDataGather", @"if the server has enabled backup data gathering", 16),
};

string KeyFieldName = "gUID";

#>